.DS_Store
build/
.idea
.gradle
local.properties
*.iml
npm-debug.log
yarn-error.log
node_modules
template/node_modules
# Lock files in root directory
package-lock.json
bun.lockb
yarn.lock
# Lock files in template directory
template/package-lock.json
template/bun.lockb
template/yarn.lock
template/vendor/bundle/
template/ios/Pods
template/ios/build
template/android/app/.cxx
template/android/app/build
template/android/build
template/android/.gradle
template/android/.idea
documentation
.github
documentation.html
.husky
.vscode
.env
.env.local
.env.development.local
.env.test.local